.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #87b5b5;
    background-size: cover;
}
.editor{
    overflow-y: scroll;
    height: 250px;
    width: 600px;
}
.main-lable{
    background-color: #4aa3a3;
    padding: 0.3rem;
    border: 1px solid #1d2f2f;
    box-shadow: 1px 1px 10px 2px #3a5f5f;
    font-family: Russo One;
    font-size: 1rem;
    color: black;
}
.preview{
    margin: 1.25rem auto;
    min-height: 350px;
    overflow-wrap: break-word;
    width: 800px;
}
table{
    width: 70%;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 10px 0;
  }
table td, th, tr{
    padding: 5px;
    border: 1px solid black;
  }
.preview img{
    width: 90%;
}
.main-background{
    background-color: #c0d8d8;
    margin-bottom: 1px;
    padding: 10px 15px;
    border: 1px solid #1d2f2f;
    box-shadow: 1px 1px 10px 2px #3a5f5f;
}
code, pre{
    background-color: white;
    padding: 5px;
}